/* bg */
.bg {
    background: url(../images/7598163.jpg) no-repeat fixed center;
    background-size: cover;
}
/* profile */
.bg .profile {
    width: 1142px; height: 901px;
    margin: 0 auto;
    padding: 152px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.bg .profile img {
    width: 242px; height: 242px;
    border-radius: 50%;
    margin-bottom: 40px;
    animation: up_down 0.8s linear alternate infinite;
}
.bg .profile h1 {
    font-family: 폴트;
    font-size: 2.369rem;
    letter-spacing: -0.02em;
    color: #000;
    margin-bottom: 40px;
}
.bg .profile span {
    width: 400px; height: 20px;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-bottom: 40px;
}
.bg .profile p {
    font-size: 1.333rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}
.bg .profile .icon {
    margin-bottom: 40px;
    width: 150px; height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.bg .profile .icon img {
    width: 30px; height: 30px;
}
.bg .profile .gnb {}
/* move */
.bg .move {
    height: 612px;
}
.bg .move img {}
.bg .move img:nth-child(1) {
    transform: rotate(-10deg);
    animation: incline 10s linear infinite;
}
.bg .move img:nth-child(2) {
    transform: rotate(10deg);
    background: rgb(0,0,0,80);}
/* contents */
.bg .contents {
    width: 1142px; height: 650px;
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
} 
.bg .contents .detail1 {
    width: 271px; height: 350px;
    display: flex;
    flex-flow: column nowrap;
}
.bg .contents .detail1 img {
    width: 271px; height: 246px;
    border-radius: 100px 100px 0 0;
}
.bg .contents .detail1 .explain {
    width: 271px; height: 104px;
    background: #fff;
    padding: 24px 42.5px;
    text-align: center;
}
.bg .contents .detail1 .explain h2 {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #000;
}
.bg .contents .detail1 .explain p {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #000;
}
.bg .contents .detail2 {
    width: 271px; height: 350px;
    display: flex;
    flex-flow: column nowrap;
}
.bg .contents .detail2 img {
    width: 271px; height: 246px;
    border-radius: 100px 100px 0 0;
}
.bg .contents .detail2 .explain {
    width: 271px; height: 104px;
    background: #fff;
    padding: 24px 42.5px;
    text-align: center;
}
.bg .contents .detail2 .explain h2 {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #000;
}
.bg .contents .detail2 .explain p {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #000;
}
.bg .contents .detail3 {
    width: 271px; height: 350px;
    display: flex;
    flex-flow: column nowrap;
}
.bg .contents .detail3 img {
    width: 271px; height: 246px;
    border-radius: 100px 100px 0 0;
}
.bg .contents .detail3 .explain {
    width: 271px; height: 104px;
    background: #fff;
    padding: 24px 42.5px;
    text-align: center;
}
.bg .contents .detail3 .explain h2 {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #000;
}
.bg .contents .detail3 .explain p {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #000;
}
.bg .contents .detail4 {
    width: 271px; height: 350px;
    display: flex;
    flex-flow: column nowrap;
}
.bg .contents .detail4 img {
    width: 271px; height: 246px;
    border-radius: 100px 100px 0 0;
}
.bg .contents .detail4 .explain {
    width: 271px; height: 104px;
    background: #fff;
    padding: 24px 42.5px;
    text-align: center;
}
.bg .contents .detail4 .explain h2 {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #000;
}
.bg .contents .detail4 .explain p {
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #000;
}
/* gratitude */
.bg .gratitude {
    width: 1142px; height: 345px;
    margin: 0 auto;
    text-align: center;
}
.bg .gratitude p {
    font-weight: 500;
    font-size: 1.777rem;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #fff;
}
/* keyframes */
@keyframes up_down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
@keyframes incline {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 1000px;
    }
}